.empty{
    text-align: center;
    padding: 80px 0;
}
.empty img{
    width: 150px;
    background-color: var(--bg);
}
.empty button{
    padding: 10px;
    margin-top: 10px;
    transition: .3s;
}
.empty h2{
    margin: 10px;
}
.empty p{
    margin: 10px;
}
.empty button:hover{
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
}