.banner{
    margin-top: 15px;
}
.banner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}



@media screen and (max-width: 1152px) {
    .banner img{
        height: 320px;
    }
}


@media screen and (max-width: 940px) {
    .banner img{
        height: 240px;
    }
}


@media screen and (max-width: 718px) {
    .banner img{
        height: 190px;
    }
}